@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:wght@700&display=swap");
@import url(../css/shared/animatedCard.css);
@import url(./shared/footer.css);
@import url(./shared/header.css);

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

/* =========================== MAIN =========================== */
.main {
    background-color: #f5f5f5;
    width: 100%;
    padding-top: 7rem;
    grid-area: main;
}
.main .container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30rem auto;
    grid-template-rows: max-content;
    grid-template-areas: "aside content";
}
@media (max-width: 1500px){
    .main .container {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "aside"
        "content";
    }
}

/* ============= Aside ============= */
.aside {
    grid-area: aside;
    width: 100%;
    color: black;
    margin: 5rem 0;
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
}
.aside hr {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 1rem 0;
}
.filter h3 {
    font-size: 1.8rem;
}
.checkModel {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    padding: 1rem;
}
.filter__btn {
    display: none;
}
.filter__btn h3 {
    font-size: 2rem;
}
.filter__btn i {
    color: black;
}
.filters__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    transition: all 1s;
    overflow: hidden;
}
@media (max-width: 1500px){
    .aside {
        display: flex;
        justify-content: space-evenly;
    }
    .aside hr{
        display: none;
    }
}
@media (max-width: 950px){
    .aside {
        flex-direction: column;
        align-items: left;
    }
    .filter__btn {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
    .filters__container {
        flex-direction: column;
    }
    
}
.filters-close .filter {
    transition: all 1.5s;
}
.filters__container--close {
    height: 1rem;
}
.filters__container--open {
    height: 50rem;
}

/* ============= Articles ============= */
.content {
    margin: 5rem 0;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.container-card .card--colorRed::before,
.container-card .card--colorRed .contentBx .size span:hover,
.container-card .card--colorRed .contentBx a:hover {
    background: #d00000;
}
.container-card .card--colorBlue::before,
.container-card .card--colorBlue .contentBx .size span:hover,
.container-card .card--colorBlue .contentBx a:hover {
    background: #003566;
}
.container-card .card--colorBlack::before,
.container-card .card--colorBlack .contentBx .size span:hover,
.container-card .card--colorBlack .contentBx a:hover {
    background: #403d39;
}
.card__logo {
    display: flex;
    justify-content: center;
}
.content article:last-child .card {
    display: none;
}
@media (max-width: 1500px){
    .content {
        justify-content: center;
        margin-left: 0%;
    }
    .content article:last-child .card {
        display: block;
    }
}
/* ============= Others ============= */
.footer {
    grid-area: footer;
}

.carrito {
    position: absolute;
    left: 5rem;
    top: 10rem;
    z-index: 1000000;
}
.carrito a i{
    font-size: 5rem;
    color: rgb(39, 37, 37);
}
.loginIcon {
    display: inline-block;
    position: absolute;
    right: 2rem;
    font-size: 3rem;
    top: 2.5rem;
}
.loginIcon a {
    color: white;
}
