@import url(../css/login.css);


*{
    margin: 0;
    padding: 0;
}
main{
    background-color: RGB(255, 186, 8);
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100vw;

}

body{
    overflow-x: hidden;
}

.primera-seccion{
    width: 100%;
    display: flex;
    place-items: center;
}


.columna{
    float: left;
    width: 30%;
    margin-left: 10px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: white;
    margin: auto;
}


.field{
    width: 40%;
    margin-bottom: 15px;
    padding: 10px 0.5px;
    background-color: #252323;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    outline: none;
}

.contacto{
    font-weight: 600;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ingreso{
    width: 20%;
    margin-top: 10px;
}

.ingreso:hover{
    cursor: pointer;
    border: 2px solid black;
    background-color: #252323;
    color: white;
}

.cosa{
    margin-right: 15px;
}


ul{
    list-style: none;
}

.mapa-container{
   
}

iframe{

}