@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255, 186, 8);
  color: white;
  font-size: 16px;
}
article{
  display: flex;
  justify-content: center;
  padding: 5px;
}
section h1,img{
  display:inline;
}
section img{
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
}
input{
  padding:0px; 
  font: size 16px; 
  text-align:left; 
  border-width:2px; 
  border-radius:25px; 
  border-style:solid; 
  border-color:#ffffff;
  background-color: #e6e6e6; 
  box-shadow: 0px 0px 5px 0px 
  rgba(189,189,189,.75); 
  font-style:none;  
  color: white;
  width: 125px;
}
input:focus{ 
  outline:none;
}
select{
  padding: 0px;
  font: size 16px; 
  text-align:left; 
  border-width:2px; 
  border-radius:25px; 
  border-style:solid; 
  border-color:#ffffff;
  background-color: #e6e6e6; 
  box-shadow: 0px 0px 5px 0px 
  rgba(189,189,189,.75); 
  font-style:none;
  color: rgb(102, 102, 102);
}
form{
  padding: 10px;
  text-align: center;
}
.formularios{
  display: list-item;
}
a input{
  display: flex;
  align-items: center;
  width: 60px;
  text-decoration: none;
  color: rgb(102, 102, 102);
  margin: auto;
}