@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(./shared/footer.css);
@import url(./shared/header.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255, 186, 8);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
main {
  color: white;
  padding: 5rem 0;
  margin-top: 2rem;
}
.s1 {
  display: flex;
  justify-content: left;
  margin-left: 150px;
  align-items: center;
}

article h1 {
  padding: 50px;
  position: relative;
  left: 50px;
  font-size: 28px;
  text-shadow: -5px 0px 23px rgba(0, 0, 0, 0.425);
}

.s1 img {
  width: 250px;
  border: white solid 4px;
  border-radius: 100%;
}

.s2 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.s2a1 {
  font-size: 30px;
  position: relative;
  left: 150px;
  top: 28px;
}

.boton {
  background-color: #ffbf00;
  border-radius: 26px;
  border: 3px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 15px 25px;
  text-decoration: none;
  text-shadow: 1px 0px 0px #ffffff;
  position: relative;
  right: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.boton:active {
  position: relative;
  top: 10px;
}

.boton:hover {
  background: #f3cc58;
}

table {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.ta1 thead tr th {
  color: white;
  width: 50%;
}

table.ta1 thead tr {
  background: #363636;
  border-bottom: 1px solid black;
  width: 50%;
}

table.ta1 {
  border: 1px solid black;
  background-color: #ffcc33;
  text-align: center;
  border-collapse: collapse;
}
table.ta1 td,
table.ta1 th {
  border: 1px solid black;
  padding: 20px 200px;
}
table.ta1 tbody td {
  font-size: 20px;
  color: #363636;
}
table.ta1 thead {
  background: #ffffff;
  border-bottom: 1px solid black;
}
table.ta1 thead th {
  font-size: 19px;
  font-size: 15px;
  color: #363636;
}
table.ta1 thead {
  background: #ddb12c;
  background: -moz-linear-gradient(top, #e5c461 0%, #e0b841 66%, #ddb12c 100%);
  background: -webkit-linear-gradient(
    top,
    #e5c461 0%,
    #e0b841 66%,
    #ddb12c 100%
  );
  background: linear-gradient(to bottom, #e5c461 0%, #e0b841 66%, #ddb12c 100%);
  border-bottom: 1px solid black;
}
table.ta1 thead th {
  font-size: 20px;
  font-weight: bold;
  color: #363636;
  text-align: center;
  border-left: 1px solid black;
}

table.ta2 {
  border: 1px solid black;
  background-color: #ffcc33;
  text-align: center;
  border-collapse: collapse;
}
table.ta2 td,
table.ta2 th {
  border: 1px solid black;
  padding: 20px 200px;
}
table.ta2 tbody td {
  font-size: 20px;
  color: #363636;
  font-family: "Roboto", sans-serif;
}
table.ta2 thead {
  background: #363636;
  border-bottom: 1px solid black;
}
table.ta2 thead th {
  font-size: 19px;

  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 1px solid black;
}
#tachito1 {
  position: absolute;
  right: 60px;
  bottom: 170px;
}
#tachito2 {
  position: absolute;
  right: 60px;
  bottom: 110px;
}

#tachito3 {
  position: absolute;
  right: 60px;
  bottom: -110px;
}
#tachito4 {
  position: absolute;
  right: 60px;
  bottom: -170px;
}

table {
  transition: all 0.75s;
}

table:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.popUp {
    width: 65rem;
    display: flex;
    place-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.rowBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.popUp__title {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem 0;
}
.rowBox i {
    color: black;
    font-size: 3.5rem;
}
.form {
    display: flex;
    flex-direction: column;
}
.form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}
.form input, .form select{
    width: 10rem;
}
.form button {
    font-size: 1.6rem;
    letter-spacing: 3px;
    padding: 1rem 1.6rem;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: rgb(235, 156, 52);
    align-self: center;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: letter-spacing .3s;
}
.form button:hover {
    letter-spacing: 5px;
}

/* The Modal (background) */
.popups {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.popups-contenido {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.cerrar {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popups-header {
  padding: 8px 16px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.popups-body {
  padding: 2px 16px;
}

.container {
    display: flex;
    place-content: center;
    flex-direction: column;
}
