.footer{
    background-color: black;
    padding: 20px;  
    width: 100%;
}

.bx{
    font-size: 30px;
    color: white;
    text-align: center   ;
}

.column{
    float: left;
    width: 33.33%;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.copyright{
    color: darkgray;
    text-align: center;
    width: 95%;
}

.footer div p{
    color: white;
}
