*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

footer{
    background-color: black;
    padding: 20px;  
    width: 100%;
}

.bx{
    font-size: 30px;
    color: white;
    text-align: center   ;
}

.column{
    float: left;
    width: 33.33%;
}

.copyright{
    color: darkgray;
    text-align: center;
    width: 95%;
}

div p{
   color: white;
}
