*{
    padding: 0;
    margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  
}

button{
    /* display: inline-block; */
    margin-left: 100px;
    margin-top: 30px;
}

body{
    background: rgba(234, 114, 29, 0.512);
}

header{
    border: 1px solid black;
    background:#ffa500;
}

div#logo{
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin: 15px;
    margin-left: 70px;
}

input#buscador{
    margin-bottom: 20px;
    margin-left: 100px;
    width: 75%;
    text-align: center;
    text-align: left;
    height: 30px;
}

nav{
    float: left;
    width: 100%;
    background-color: #fbab60;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li{
    float: left;
    font-size: 16px;
    list-style: none;
    width: 25%;
}

nav ul li a{
    /* width: 100%; */
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    text-align: center;

}

nav ul li:hover{
    background: rgb(237, 163, 35);
}