@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255, 186, 8);
}

/* START HEADER */

header {
  display: flex;
  background: black;
  width: 100%;
  text-align: left;
  align-items: center;
  box-shadow: 0px 0px 10px 0px black;
}

/* carrito */
/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
} */

img#logo{
  display: inline;
  margin-right: 10px;
  height: 80px;
  width: 110px;
  margin-left: 20px;
}

input#buscador {
  margin-left: 15px;
  background-color: rgb(176, 171, 171);
  color: white;
  width: 50%;
  text-align: left;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  display: inline-block;
}

input#buscador::placeholder{
  color: white;
  padding-left: 5px;
}

/* START NAV BAR */

nav.menu {
  display: block;
  float: left;
  width: 100%;
  background-color: black;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav.menu ul li {
  float: left;
  font-size: 16px;
  list-style: none;
  width: 25%;
}

nav.menu ul li a {
  display: block;
  padding: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
}

nav.menu ul li:hover {
  text-decoration: none;
  border-top: 3px solid white;
}

/* END NAV BAR*/

/* END HEADER */

/* START SLIDER */

main{
  background: rgb(255, 186, 8);
}

h2 {
  text-align: center;
  margin-top: 70px;
}

.modelos{
  display: inline-block;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

/* #modelos{
  background: rgb(255, 186, 8);
  padding-top: 30px;
  margin: 0;
  color: white;
} */

.container{
  box-sizing: border-box;
  height: 600px;
  overflow: hidden;
  text-align: center;
}

.container img{
  padding-top: 100px;
  height: 500px;
  
}

.carrusel{
  box-sizing: border-box;
  height: 100%;
  position: relative;
  background: rgb(255, 186, 8);
}

.tarjetaCarrusel{
  height: 100%;
}

.flechaCarrusel{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.carrusel a{
  text-decoration: none;
  font-size: 50px;
  color: white;
}

/* END SLIDER */

/* STAR STYLECARDS*/

.background_container_card{
  background: url(/images/others/black_background_stripes-1301439.jpg);
  height: 800px;
  width: 100%;
  display: flex;
}

.container_card{
  display: inline-block;
  margin-top: 50px;
}

.card{
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  cursor: default;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  
  transition: all 400ms ease;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img{
  width: 100%;
  height: 700px;
}

.text_card{
  padding: 15px;
  text-align: left;
  margin-top: -4px;
  background: rgb(255, 186, 8);
}

.text_card a{
  text-decoration: none;
  color: white;
  display: inline-block;
  float: right;
}

.text_card h4{
  display: inline-block;
}

.text_card a:hover{
  text-decoration: underline;
}

/* END STYLECARDS*/

/* START ASIDE */

/* .productos_mas_vendidos_col_1{
  width: 300px;
  height: 339px;
  display: inline-block;
  margin-left: 200px;
  box-sizing: border-box;
}

img#producto1{
  width: 300px;
  height: 300px;
}

.leyenda{
  text-align: center;
  background: white;
  height: 39px;
  display: inline-block;
  margin: -4px 0px 0px 0px;
  font-style: italic;
  padding: 10px;
  box-shadow: 0px 10px 10px -6px black;
}

.leyenda:hover{
  text-decoration: underline;
}

#button_cart{
  cursor: pointer;
  display: inline;
  float: right;
  margin-left: 116px;
  margin-top: -5px;
}

.productos_mas_vendidos_col_2{
  width: 300px;
  height: 339px;
  display: inline-block;
  margin-left: 300px;
  box-sizing: border-box;
}

img#producto2{
  width: 300px;
  height: 300px;
}

.productos_mas_vendidos_col_3{
  width: 300px;
  height: 339px;
  display: inline-block;
  margin-left: 300px;
  box-sizing: border-box;
}

img#producto3{
  width: 300px;
  height: 300px;
} */

/* END ASIDE */
