@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #e1b07e;;
}

/* START HEADER */

header {
  display: flex;
  background: black;
  width: 100%;
  text-align: left;
  align-items: center;
  box-shadow: 0px 0px 10px 0px black;
}

/* carrito */

/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.button_cart{
  background: black;
  color: white;
  cursor: pointer;
}

.container_button_cart{
  display: inline-block;
  align-items: center;
  justify-content: center;
} */

img#logo{
  display: inline;
  margin-right: 10px;
  height: 80px;
  width: 110px;
  margin-left: 20px;
}

/* div.logo {
  background: black;
  display: inline;
} */

input#buscador {
  margin-left: 15px;
  width: 50%;
  text-align: left;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  display: inline-block;
}

/* START NAV BAR */

nav.menu {
  display: block;
  float: left;
  width: 100%;
  background-color: black;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav.menu ul li {
  float: left;
  font-size: 16px;
  list-style: none;
  width: 25%;
}

nav.menu ul li a {
  display: block;
  padding: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
}

nav.menu ul li:hover {
  text-decoration: underline;
}

/* END NAV BAR*/

/* END HEADER */

/* START SLIDER */

h2 {
  text-align: center;
  margin-top: 70px;
}

.container {
  margin: auto;
  background-color: #e1b07e;
  width: 800px;
  padding: 30px;
}

ul.slider li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background: #e1b07e;
}

ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.menu_slide {
  text-align: center;
  margin: 20px;
}

.menu_slide li {
  display: inline-block;
  text-align: center;
}

.menu_slide li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
  padding-bottom: 10px;
}

.menu_slide li a:hover{
  background: grey;
} 

/* END SLIDER */
